---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import BrowseView from '../components/BrowseView.svelte';
import { getCollection } from 'astro:content';

const allWorks = await getCollection('works');
const works = allWorks.map(e => e.data);
---

<Base title="Browse" description="Browse the collection by artist or medium.">
  <Header currentPage="browse" />
  <main>
    <BrowseView {works} client:load />
  </main>
</Base>
